body{
    background: rgb(118,231,134);
    background: radial-gradient(circle, rgba(118,231,134,1) 0%, rgba(255,67,67,1) 100%);
}

/* Estilo para o cabeçalho (header) e navbar */
header {
    display:block;
    margin: 0;
    padding: 0;
}

ul img{
    width: 50px;
    float: left;
    margin-top: 20px;
}

ul button{
    margin: 16px 40px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
}

nav li {
    margin-right: 20px;
    float: left;
    display: inline;
    
}

nav a {
    font-family: Catamaran, Medium;
    color: #F5F5F5;
    display: block;
    text-align: center;
    padding: 3px 16px;
    text-decoration: none;
    /*border-radius: 30px;*/

    transition: .3s ease;
}

li a:hover {
    background-color: rgb(57, 78, 60);
  }

.buttonCadastro{
    float: right;
    background-color: rgb(148, 209, 157);
    border-radius: 30px;
    padding: 10px 20px;
}

.esquerdaMsg{
    margin-top: 160px;
    margin-left: 100px;
    display: flex;

    font-family: Catamaran, Medium;
    color: #F5F5F5;
    letter-spacing: 2px;
}

.esquerdaMsg img{
    width: 30%;
}

#ComoFunciona{

    display: flex;
height: 300px;
margin: 400px 50px;
    justify-content: center;
    align-items: center;
    font-family: Catamaran, Medium;
    color: #F5F5F5;
}

#ComoFunciona img{
    float: left;
    margin-right: 300px;
    width: 400px;
    height: 450px;
}

button {
    background-color: white;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
  }
  
  button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
  };
  
  button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
  };


.slider-container {
    overflow: hidden;
    width: 80%;
    max-width: 800px;
}

.card-slider {
    display: flex;
    transition: transform 0.5s ease;
}

.card {
    float: right;
    color: black;
    flex: 0 0 100%;
    max-width: 60%;
    background-color: #97d4a2;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.sliderdiv{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 400px;
}