<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primeiro Mapa</title>
    <link rel="stylesheet" href="/src/main/java/com/ifba/ecoColeta/ecoColeta/views/stylesheets/mapsApi.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6jbXU6rzzlIPpJvtIYA9TUWeSpAnPiOE&callback=initMap" async defer></script>
    <script src="/src/main/java/com/ifba/ecoColeta/ecoColeta/views/scripts/googleMap.js" async defer></script>
</head>
<body>
    <div id="map"></div>
</body>
</html>