<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="shortcut icon" href="images/LOGOECOCOLETA.png" type="image/x-icon">
    <link rel="stylesheet" href="stylesheets/register.css">
    <script src="./scripts/script.js" defer></script>
</head>
<body>
    <div align="center">
        <h1>registrar</h1>
        <form action="">
            <div class="group" >
                <img class="icon" src="images/usuarioicone.svg" alt="">
                <label for="username"></label>
                <input class="nome" type="text" name="name" id="nome" placeholder="digite seu nome:">
            </div>

            <div class="group" >
                <img class="icon" src="images/@.svg" alt="">
                <label for="e-mail"></label>
                <input class="email" type="text" name="e-mail" id="e-mail" placeholder="digite seu e-mail:">
            </div>

            <div class="group" >
                <img class="icon" src="images/cadeiadu.svg" alt="">
                <label for="pwd"></label>
                <input class="senha" type="password" name="pwd" id="pwd" placeholder="digite sua senha:">

            </div>

            <div class="group" >
                <img class="icon" src="images/cadeiadu.svg" alt="">
                <label for="pwd"></label>
                <input class="senhaConfirm" type="password" name="pwdConfirm" id="pwdConfirm" placeholder="digite novamente:">

            </div>

            <button><h3>registrar</h3></button>

        </form>
 
    </div>

</body>
</html>