<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eco Coleta - App de Coleta Seletiva</title>
    <link rel="stylesheet" href="stylesheets/principal.css">
    <link rel="shortcut icon" href="images/logo (1) (1).png" type="image/x-icon">
</head>
<body>
    <header>
        <nav>
            
            <ul>
                <img src="images/logo (1) (1).png" alt="">
                <li><a href="#"><h3>Página Inicial</h3></a></li>
                <li><a href="#ComoFunciona"><h3>Como Funciona</h3></a></li>
                <li><a href="#"><h3>Serviços</h3></a></li>
                <li><a href="#"><h3>Contato</h3></a></li>
                <button class="buttonCadastro" href="#">Login</button>
            </ul>
            
        </nav>
    </header>
    <!--<h1>Eco Coleta</h1>-->
    <aside>
        <div class="esquerdaMsg">
            <div>
                <h2>Descarte consciente!</h2>
                <p>Faça parte da equipe verde. Adote nosso app de coleta seletiva e recicle com facilidade!</p>
                <button class="buttonCadastro" href="#">Começar</button>
            </div>
            <img src="images/catadora.png" alt="">
            
        </div>
    </aside>
    
    <main id="ComoFunciona">
        <img src="images/catador.png" alt="">
        <div>
            <h1>Como funciona</h1>
        <div class="sliderdiv">
            <div class="slider-container">
                <div class="card-slider">
                    <div class="card">
                        <h3>Preparando</h3>
                        <p>Limpe e prepare os materiais a serem descartados.</p>
                        <img src="" alt="Image 1">
                    </div>
                    <div class="card">
                        <h3>Descartando</h3>
                        <p>Registre a coleta e seus detalhes ao descartar.<br>Catadores serão procurados e notificados.</p>
                        <img src="image2.jpg" alt="Image 2">
                       
                    </div>
                    <div class="card">
                        <h3>Coleta Realizada</h3>
                        <p>Pronto. Agora esperar o Catador confirmado buscar o descarte.</p>
                        <img src="image3.jpg" alt="Image 3">
                        
                    </div>
                </div>
            </div>
        </div>
            
        </div>
        <script src="scripts/card.js"></script>
    </main>
    <!--
    <footer>
        <p>Rodapé da Página</p>
    </footer>
    -->

</body>
</html>